server:
  port: 8083

spring:
  application:
    name: processing-service

  datasource:
    url: jdbc:postgresql://localhost:5433/payment_processor
    username: admin
    password: admin123
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          time_zone: UTC

  data:
    redis:
      host: localhost
      port: 6380
      timeout: 2000ms

logging:
  level:
    com.openfinance: INFO
    org.springframework: INFO
    org.hibernate: WARN

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus,info,scheduledtasks
  endpoint:
    health:
      show-details: always
  metrics:
    export:
      prometheus:
        enabled: true
    tags:
      application: ${spring.application.name}

---
spring:
  config:
    activate:
      on-profile: docker

  datasource:
    url: jdbc:postgresql://postgres:5432/payment_processor

  data:
    redis:
      host: redis
      port: 6379
